.turkey-map {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.turkey-map svg {
  width: 100%;
  height: auto;
}

.turkey-map svg path {
  cursor: pointer;
  fill: #222;
}

.turkey-map svg path:hover {
  fill: #1094F6;
}

.turkey-map svg #south-cyprus {
  pointer-events: none;
}

.province-name {
  position: absolute;
  z-index: 2;
}

.province-name div {
  font-family: "Open Sans";
  display: inline-block;
  background: #1094F6;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
}

